// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
.navbar-light{
    background-color: navajowhite;
} 

.general{
    color: white;
}


@import "bootstrap";


#logo {
    float: left;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('laptop.jpg');
    background-size: cover;
    height: 1000px;

}
footer {
    text-align: center;
}


.article_title{
 
    font_weight: bold;
    font-size:2em

}

.article_title a{
    text-decoration:none !important;
}

.card_style{
    margin-top:10px;
}

.article_meta_details{
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
}


.badge_style{
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: bold;
    text-decoration: none;

}


.design_checkbox{
    width: auto !important;
}